<div class="center-horizontal">
  <div>
    <h2 style="text-align: center;">Carrito de compras</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio unitario</th>
          <th>Cantidad</th>
          <th>Precio total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr app-carrito-producto (actualizarCarrito)="obtenerCarrito()" *ngFor="let producto of carritoProductos"
          [id]="producto.id"
          [nombre]="producto.nombre"
          [imagen]="producto.urlImagen"
          [categoria]="producto.categoria"
          [precio]="producto.precio"
          [cantidad]="producto.cantidad">
        </tr>
        <tr *ngIf="carritoProductos.length == 0">
          <td colspan="5">Aún no tiene productos en el carrito</td>
        </tr>
      </tbody>
    </table>
    <div class="center-horizontal">
      <button mat-raised-button color="warn" (click)="vaciarCarrito()">Vaciar carrito</button>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" [disabled]="carritoProductos.length == 0" (click)="pagar()">Finalizar compra</button>
    </div>
  </div>
</div>