<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title class="title">{{ nombre }}</mat-card-title>
    <mat-card-subtitle>{{ categoria }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="clickable" src="{{ imagen }}" alt="{{ nombre }}" (click)="detalleProducto()">
  <mat-card-content>
    <div class="precio">
      {{ precio }} $
    </div>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-button (click)="agregarCarrito(id, nombre, imagen, precio, categoria)">
      <mat-icon *ngIf="!agregado">add_shopping_cart</mat-icon>
      <mat-icon *ngIf="agregado" style="color: red;">remove_shopping_cart</mat-icon>
    </button>
    <button mat-button (click)="agregarFavorito()">
        <mat-icon *ngIf="!favorito">favorite_border</mat-icon>
        <mat-icon *ngIf="favorito" style="color: #3030b8;">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>