
.product-card {
  width: 200px;
  margin: 15px;
}

.card-actions {
  display: flex;
  justify-content: center;
}

.precio {
  text-align: center;
  background-color: #9eb0ff7c;
  border-radius: 3px;
}

.clickable {
  cursor: pointer;
}