<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="app-name">Tienda App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button matTooltip="Abrir carrito de compras" (click)="abrirCarrito()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Ir al perfil de usuario" class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<main>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Salud" class="tab-content">
      <div class="products-container">
        <app-product-card *ngFor="let producto of listaProductos"
          [id]="producto.id"
          [nombre]="producto.name"
          [precio]="producto.price"
          [cantidad]="producto.cantidad">
        </app-product-card>
      </div>
    </mat-tab>
    <mat-tab label="Deportes">
      <div class="products-container">
        <app-product-card *ngFor="let producto of listaProductos"
          [id]="producto.id"
          [nombre]="producto.name"
          [precio]="producto.price"
          [cantidad]="producto.cantidad">
        </app-product-card>
      </div>
    </mat-tab>
    <mat-tab label="Tecnología">
      <div class="products-container">
        <app-product-card *ngFor="let producto of listaProductos"
          [id]="producto.id"
          [nombre]="producto.name"
          [precio]="producto.price"
          [cantidad]="producto.cantidad">
        </app-product-card>
      </div>
    </mat-tab>
    <mat-tab label="Moda">
      <div class="products-container">
        <app-product-card *ngFor="let producto of listaProductos"
          [id]="producto.id"
          [nombre]="producto.name"
          [precio]="producto.price"
          [cantidad]="producto.cantidad">
        </app-product-card>
      </div>
    </mat-tab>
    <mat-tab label="Oficio">
      <div class="products-container">
        <app-product-card *ngFor="let producto of listaProductos"
          [id]="producto.id"
          [nombre]="producto.name"
          [precio]="producto.price"
          [cantidad]="producto.cantidad">
        </app-product-card>
      </div>
    </mat-tab>
  </mat-tab-group>
  
</main>