<mat-card class="register-card">
    <p style="text-align: center;">
        <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="example@example.com">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <p style="text-align: center;">
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="***************">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <p style="text-align: center;">
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="***************">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <p style="text-align: center;">
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="***************">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <p style="text-align: center;">
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="***************">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </p>
    <p style="text-align: center;">
        <button mat-flat-button color="primary">Registrar</button>
    </p>
    <br>
    <p>
        ¿Ya tienes una cuenta? <a href="/registrar">Logeate</a>
    </p>
</mat-card>